img,div,h1{
    margin: auto;
    text-align: center;
}

#cuerpo{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: cadetblue;
}



#foto{
    margin: 7%;
    position: relative;
    text-align: center;
    width: 70%;
    height: 70%;
}