div{
    display: flex;
    flex-direction: row;
    float: left;
    margin: 1%;
}

#container_puertos{
    margin: 1%;
    margin-left: 0.25%;
    background-color: wheat;
    border: 2px solid black;
    width: 90%;
    height: 100%;

}

#selector_color{
    background-color: aquamarine;
    border: 2px solid black;
    padding: 2%;
}

span{
    margin: 5%;
    padding: 5%;
}