.contenedor{
    flex-direction: row;
    border: 0px;
    width: 20%;
    height: 35%;
    justify-content: space-around;
    position: relative;

}
div{
    position: relative;
    display: flex;
}
img{
    position: relative;
    scale: 30%;
    position: relative;
    left: auto;
}
.izq{
    display: flex;
    flex-direction: column;
    width: 10%;
    border: solid 1px;
    border-collapse: collapse;
}
.der{
    position: relative;
    display: flex;
    flex-direction: column;
}

.arr{
    height: 18%;
    background-color: gray;
    width: 99%;
    border: solid 1px;
    border-collapse: collapse;
}
p.arr{
    position: relative;
    top: auto;
    left: auto;
}
.aba{
    height: 100%;
    width: 99%;
    border: solid 1px;
    border-collapse: collapse;
}