body{
    background-color: rgb(177, 169, 169);
}

h1,h2,span,p,table, a{
    font-family: Trebuchet MS;
    letter-spacing: 1px;
}

div{
    position: relative;
    top: 10px;
}

#contenedor{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    top: 0px;
    left: 0px;
}


#logo {
    position: relative;
    float: left;
}

#texto_cabecera {
    padding-left: 20px;
    float: left;

}

#menu{
    font-size: larger;
    position: relative;
    clear: both;
    height: 15%;
    width: 100%;
    background-color: rgb(65, 204, 65);
    clear: both;
}

.titulo_side{
    background-color: rgb(38, 189, 118);
}

table{
    height: 100%;
    width: 100%;
    border: 2px solid gray;
    border-collapse: collapse;
    font-size: x-large;
    clear: both;
}

td{
    padding-left: 24px;
    height: 100%;
    width: 25%;
    border: 2px solid gray;
    border-collapse: collapse;
}

#cabecera{
    background-color: lightgreen;
    margin-top: 0px;
    top: 0px;
}

#navbar{
    height: 70px;
    width: 100% ;
}

#cuerpo_principal{
    position: relative;
    clear: both;
    width: 100%;
    height: 800px;
    
}

#zona_entradas{
    float: left;
    width: 73%;
    top: 14px;
    left: 14px;
    background-color: rgb(228, 225, 225);
    margin-right: 5%;    
}

#capa_header{
    position: relative;
    top: 0px;
    background-color: rgba(170, 159, 159, 0.575);
    width: 98%;
    height: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    font-size: larger;
}

#capa_corazon{
    width: 85%;
    background-color: gray;
    border-radius: 20px;
    text-align: center;
    left: 8%;
    margin-bottom: 3%;
    padding-top: 3%;
    padding-bottom: 2%;
}

#capa_txt{
    margin-bottom: 5%;
    left: 2%;
}

footer{
    margin-left: 50px;
    margin-bottom: 50px;
}

#contenido{
    margin: 30px;
}

#lateral{
    position: relative;
    float: left;
    background-color: rgb(40, 211, 160);
    height: 70%;
    width: 21%;
    border: 2px solid black;
    top: 14px;
    
}