/* 
comentario css
*/

// comentario de una linea de html, no aparece en css

$primary-color: #c0c0c0;
$secondary-color: #51527F;
$body-font: 'Roboto', sans-serif;

body {
    background-color: $primary-color;
    color: $secondary-color;
    font-family: $body-font;
}

@for $c from 1 to 4 {
    .clase-#{$c} {
        color: rgb($c255/3, $c255/3, $c255/3);
    }
}
